<!-- Customize the about page based on basic layout desgin -->
<!-- import layout.html desgin -->

{% extends "layout.html" %}
{%  block content %}
<h1>About Page</h1>
{% for post in posts %}
<h1>{{post.title}}</h1>
<p>By {{post.author}} on {{post.date_posted}}</p>
<p>{{post.content}}</p>
{% endfor %}
{%  endblock content %}

<!DOCTYPE html>
<html lang="en">
<!-- Import header names from back end python code -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Babson Notes Cloud - {{title}}</title>
    {% else %}
    <title>Babson Notes Cloud</title>
    {% endif %}
</head>

<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p>This web app is designed by a Babson student who wishes help other Babson students.</p>

</body>

</html>